.super-mario {
  width: 200px;
  position: absolute;
  z-index: 1;
}

.goomba {
  width: 100px;
  position: absolute;
  z-index: 2;
  top: 370px;
  left: 50px;
}

.baloon {
  position: absolute;
  left: 300px;
  z-index: 1;
}

.speach {
  position: relative;
  z-index: 2;
  font-size: 25px;
  left: 308px;
  top: 120px;
}

.bowser {
  position:relative;
  width: 200px;
  left: 580px;
  top: 400px;
}
