html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  body {
    margin: 10px;
  }
  
  header p {
    font-size:x-large;
  }
}

@media screen and (min-width: 601px) {
  header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  header p {
    font-size:x-large;
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    width: 100%;
  }

  .main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .main-content div {
    width: 45%;
  }

  .indice {
    display: flex;
    flex-wrap: wrap;
  }

  .indice li {
    margin-left: 20px;
  }
}
